{% extends 'base.html.twig' %}

{% block title %}Nouvelle compagnie{% endblock %}

{% block body %}

<h1>{{ titre }}</h1>

    {# {{form(formulaire)}} Integralité du formulaire #}

    {# {{ form_start(formulaire, {'attr':{'novalidate':'novalidate'}}) }}  #}
    {# Pour tester les champs en back sans les pattern du front #}

    {{ form_start(formulaire) }}

    {# {{ form_widget(formulaire) }} Fait apparaitre tous les champs d'un coup, sinon le bouton valider se met en haut#}
    <div class="row">
    {{ form_row(formulaire.nom) }} {#Fait apparaitre un champ un par un #}
    </div>
    <div class="row">
    {{ form_row(formulaire.sigle) }}
    </div>
    <div class="row">
    {{ form_row(formulaire.employes) }}
    </div>
    <button class="btn btn-primary">Valider</button>
    {{ form_end(formulaire) }}
    <a href="{{ path('app_companies') }}" class="btn btn-primary">Retour à la liste des Companies</a>

{% endblock %}