{% extends 'base.html.twig' %}

{% block title %}Companies{% endblock %}

{% block body %}

    <table class='table'>
        <thead>
            <tr>
                <th>id</th>
                <th>nom</th>
                <th>sigle</th>
                <th>employes</th>
                <th>Details</th>
                <th>Modification</th>
                <th>Suppression</th>
            </tr>
        </thead>
        {% for company in companies %}
            <tr>
            <td>{{ company.id }}</td>
            <td>{{ company.nom }}</td>
            <td>{{ company.sigle }}</td>
            <td>{{ company.employes }}</td>
            <td><a href="{{ path('show_company',{'id': company.id}) }}" class="btn btn-primary">Voir</a></td>
            <td><a href="{{ path('modify_company',{'id': company.id}) }}" class="btn btn-warning">Modifier</a></td>
            <td><a href="{{ path('delete_company',{'id': company.id}) }}" class="btn btn-danger">Supprimer</a></td>
            </tr>
        {% endfor %}
    </table>

    <a href="{{ path('add_company') }}" class="btn btn-primary mt-3">Ajouter une companie</a>

{% endblock %}
